.population {
	color: #888;
}

.population b {
	color: #555;
}

.highlighted > * {
	background: yellow !important;
}

.hungry > .hunger b {
	color: red !important;
}

.lazy > .LabourPowerIndividual b {
	color: red !important;
}

.poor > .wallet b {
	color: red !important;
}

.young > .age b {
	color: blue !important;
}

.old > .age b {
	color: orange !important;
}
