<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Capital: System and Suffering</title>
		<link rel='stylesheet' href='scripts/tachyons.css' />
		<link rel='stylesheet' href='resources/capital.css' />
	</head>
	<body>
		<main id='society' class='pv4 ph5 center'>
			<h2 class='mb0'><i>Capital</i> Day {{day}}</h2>
			<div class='pointer' v-on:click='clockTicking ? clockPause() : clockStart()'>{{clockTicking ? "Pause" : "Start"}}</div>
			<br>
			<div class='f3'>{{currentPopulation.length}} humans<span v-if='lifecycle'> (average age of {{averageAge|d(0)}}, average offspring per person {{averageOffspring|d(1)}})</span></div>
			<br>
			<div class='f3 fl w-50'>{{LabourPowerSocAvgUnit|£}} social price of labour/commodity unit</div>
			<div class='f3 fl w-50'>{{dailyProductTotal|d(1)}} daily production output ({{dailyProductTotal/dailyFoodNeeded|%(1)}} of required)</div>
			<div class='f3 fl w-50'>{{dailyProductAvg|d(1)}} avg production per person</div>
			<div class='f3 fl w-50'>{{dailyHunger|d(1)}} hunger</div>
			<div class='f3 fr w-50'>{{dailyFoodNeeded}} daily food required ({{dailyFoodNeeded/dailyProductTotal|%(1)}} of capacity)</div>
			<br style='clear: both; float: none'>
			<br>
			<div class='f4 fl w-50'>{{commodityStock|d(0)}} surplus commodities</div>
			<div class='f4 fl w-50' v-if='savings'>{{averageWealth|£}} average wealth accumulated</div>
			<div class='f4 fl w-50'>{{averageHunger|d(1)}}% average hunger</div>
			<div class='f4 fl w-50'>{{averageWorkingDay|hrs}} average working hours</div>
			<br style='clear: both; float: none'>
			<br>
			<!-- D3 charts for: -->
			<!-- * population growth -->
			<!-- * Life expectancy -->
			<!-- * Life expectancy by wealth at death -->
			<!-- * GDP growth -->
			<!-- * GDP per capita -->
			<!-- * Avg personal wealth -->
			<!-- * Wealth by age -->
			<!-- * Wealth by skill -->
			<!-- * Wealth by hunger -->
			<!-- * Productivity growth -->
			<!-- * GINI coefficient -->
			<!-- <table class='population f6'>
				<tr v-for="person in currentPopulation"
					v-on:click="person.isHighlighted = !person.isHighlighted"
					v-bind:class="{ highlighted: person.isHighlighted, hungry: person.hunger > 0, lazy: person.LabourPowerIndividual < LabourPowerSocAvgUnit, poor: person.savings < 0.01, young: person.age < person.ageAdult, old: person.age >= person.ageElderly, overworked: person.hoursWorked == person.hoursInDay }">
					<td class='tr code'>{{person.DNA}}</b>
					<td class='tr name'>{{person.firstname}} <b>{{person.lastname}}</b>
					<td class='LabourPowerIndividual'>(<b>{{person.LabourPowerIndividual|d(3)}} productivity</b>)</td>
					<td v-if="lifecycle" class='age'>(Gen {{person.generation}}, <b>aged {{person.age}}</b>)</td>
					<td class='hoursWorked'>works <b>{{person.hoursWorked|hrs}} hrs</b></td>
					<td class='tr'>and produces <b>{{person.dailyProduct|d(3)}}</b></td>
					<td class='tr'>(<b>{{person.hourlyRelativeProduct|d(3)}}× avg</b>)</td>
					<td class='tr'>for <b>{{person.hourlyRelativeProduct * person.hoursWorked|£}}</b> daily</td>
					<td class='b'>&middot;</td>
					<td class='tr savings' v-if='savings'>Savings: <b>{{person.savings|£}}</b></td>
					<td class='tr hunger'>(<b>{{person.hunger|d(0)}}% hungry</b>)</td>
				</tr>
			</table> -->
		</main>

		<template>
			<div>
				<svg @mousemove="mouseover" :width="width" :height="height">
					<g :style="{transform: `translate(${margin.left}px, ${margin.top}px)`}">
						<path class="area" :d="paths.area" />
						<path class="line" :d="paths.line" />
						<path class="selector" :d="paths.selector" />
					</g>
				</svg>
			</div>
		</template>

		<script src='scripts/jquery.js'></script>
		<script src='scripts/lodash.js'></script>
		<script src='scripts/accounting.js'></script>
		<script src='scripts/d3.js'></script>
		<script src='scripts/vue.js'></script>
		<script src='resources/capital_helpers.js'></script>
		<script src='resources/capital_society.js'></script>
		<script src='resources/capital_human.js'></script>
		<script src='resources/capital.js'></script>
	</body>
</html>
