/* UI */
main {
	max-width: 1280px;
}

.speedOption + .speedOption:before {
	content: " / ";
	color: #DDD;
}

/* Table */

.highlighted > * {
	background: yellow !important;
}

.population {
	color: #888;
	font-size: 11px;
}

.population b {
	color: #555;
}

.dead * {
    color: pink !important;
}

.hungry > .hunger b {
	color: red;
}

.lazy > .productivityIndividual b {
	color: red;
}

.poor > .savings b {
	color: red;
}

.young > .age b {
	color: blue;
}

.old > .age b {
	color: orange;
}

.overworked > .hoursWorked b {
	color: red;
}

.unemployed > .employmentStats b {
	color: #AAA;
}

/* Graph */

svg {
	margin-top: -1px;
	margin-left: -1px;
}

.selector {
	visibility: hidden;
}

svg:hover .selector {
	visibility: visible;
	stroke: black;
	stroke-width: 1px;
}

path.area {
	fill: #ff4136;
}

path.line {
	stroke: black;
	stroke-width: 2px;
	fill: none;
}

.chartContrast .area-chart:first-child path.area {
    fill: #00449e;
	opacity: 0.5;
}
.chartContrast .area-chart:last-child path.area {
    opacity: 0.5;
}

.chartSubcategories .area-chart:first-child path.area {

}
.chartSubcategories .area-chart:last-child path.area {
    fill: none;
	stroke-width: 0.5px;
}
