/* UI */
main {
	max-width: 1280px;
}

.speedOption + .speedOption:before {
	content: " / ";
	color: #DDD;
}

/* Table */

.highlighted > * {
	background: yellow !important;
}

.population {
	color: #888;
	font-size: 11px;
}

.population b {
	color: #555;
}

.dead * {
    color: pink !important;
}

.hungry > .hunger b {
	color: red;
}

.lazy > .LabourIndividualProductivity b {
	color: red;
}

.poor > .savings b {
	color: red;
}

.young > .age b {
	color: blue;
}

.old > .age b {
	color: orange;
}

.overworked > .hoursWorked b {
	color: red;
}

.unemployed > .employmentStats b {
	color: #AAA;
}

/* Graph */

path.area {
	fill: orange;
}

path.line {
	stroke: black;
	stroke-width: 2px;
	fill: none;
}

.selector {
	visibility: hidden;
}

svg:hover .selector {
	visibility: visible;
	stroke: black;
	stroke-width: 1px;
}
